
header{
    margin-bottom: 4em;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
}
header h1 {
    display: inline;
    margin-left: 5%;
}
.button{
    margin-left: 70%;
}
.product-box{
    margin-left: 2.5em;
    margin-right: 3em;
    border: 2px solid black;
    font-size: 0.8em;
}

.delete-checkbox{
    margin-top: 1em;
    
}
.product-box .delete-checkbox{
    margin-left: 1em;
}

.product-box h2:last-child{
    margin-bottom: 1.5em;
}

.product-box h2{
    text-align: center;
    margin: 0.5em;
}

.book
{
   height: 250px;
}
.dvd
{
   height: 250px;
}
.furniture
{
   height: 250px;
}


footer{
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
    width: 99%;
}
footer p{
    padding-left: 45%;
}